<div class="bodyApp">
  <div class="container">
    <div class="d-flex flex-wrap justify-content-left align-items-center pt-3 pb-1 border-bottom">
      <h2 id="textoEncabezado">El aroma mágico</h2>
    </div>
    <div class="d-flex flex-wrap justify-content-left align-items-center py-3 border-bottom">
      <img src="../assets/images/imagenEncabezado.png" alt="imagen de encabezado" width="100%">
    </div>
  </div>
  <div class="container">
    <div class="d-flex flex-wrap justify-content-left align-items-center py-3 my-3">
      <app-cafe-list></app-cafe-list>
    </div>
  </div>
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 border-top">
      <div class="col-10 d-flex align-items-center justify-content-center">
        <span class="text-muted">Contact us: +57 3102105253 - info@elaromamagico.com - @elaromamagico</span>
      </div>
    </footer>
  </div>
</div>
